body {
  background-color: #f6f3ef;
}

a {
  color: #3b35dc;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style-type: none;
  padding: 6px 0;
  position: relative;
}

ul li::before,
ol li::before {
  content: "";
  left: 0;
  top: 0.8em;
  width: 8px;
  height: 8px;
  background-color: #3b35dc;
  border-radius: 50%;
  margin-left: -20px;
  position: absolute;
}

ol li::before {
  background-color: #424242;
}

ol li {
  margin-left: 20px;
}

ul li p,
ol li p {
  margin: 0;
}

.__reakit-portal h4 {
  padding-left: 30px;
  position: relative;

}

.__reakit-portal h4::before {
  height: 4px;
  width: 20px;content: "";
  position: absolute;
  left: 0;
  background-color: #3b35dc;
  top: 0.63rem;

}
